.home {
  text-align: center;

  .rt-tr-group:hover {
    background-color: #DDD;
    cursor: pointer;
  }

  .ReactTable {
    width: 80%;
    margin: auto;
    margin-top: 1em;
  }
}

header {
  background-color: #082767;
}

.title {
  color: #FFF;
  margin: 0;
  padding: 0.6em;
  width: 100%;
  text-align: center;
  font-size: 28px;
}

.rt-thead {
  background-color: #EDA241;
}
