.home {
  text-align: center;

  .rt-tr-group:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  .ReactTable {
    width: 80%;
    margin: auto;
    margin-top: 1em;
  }
}

header {
  background-color: #082767;
}

.rt-thead {
  background-color: #eda241;
}
