.Row {
  font-family: "Helvetica";
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Row--enabled {
  &:hover {
    background-color: #f5f5f5;
  }
}

.Row--selected {
  background-color: #f5f5f5;
}
