.title {
  width: 100%;
  text-align: center;
}

.danger {
  h2 {
    color: #bb0000;
  }
}

.attention {
  h2 {
    color: #bbbb00;
  }
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.col {
  flex: 0 1 auto;
  margin: 15px;
}

.defect-col {
}

.rt-tr.red {
}
